.navigation{
    background-color: antiquewhite;
    position: sticky;
}

.navigation__link {
    color: 987284;
}


.articles{
    border: 5px solid black;
    margin-bottom: 20px;
    border-radius: 20px;
}

.articles__style{
    padding: 10px;
    margin: 10px;
    border: 2px solid #e65a5a;
}

.articles__style--top{
    padding: 10px;
}

.heading__style{
    padding: 10px;
}

#top-image {
  height: 140px;
  width: 120px;
  display: inline-block;
}

body{
 width: 1000px;
 margin: auto;
 background-color: #ffffff;
}

header{
    display: inline-block;
}