.navigation{
    background-color: antiquewhite;
    position: sticky;
    top: 0px;
}

.navigation__link {
    color: 987284;
    padding: 10px;
}


.articles{
    border: 5px solid black;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(242, 239, 247);
}

.articles__style{
    padding: 10px;
    margin: 10px;
    border: 2px solid #e65a5a;
}

.articles__style--top{
    padding: 10px;
}

.heading__style{
    color: #07020D;
}

img {
  height: 150px;
  width: 130px;
  display: block;
}

body{
 width: 1000px;
 margin: auto;
 background-color: #ffffff;
 
}

header{
    display: inline-block;
}

a{
    text-decoration: none;
}