.navigation {
  background-color: antiquewhite;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}

.navigation__link {
  color: black;
  border-right: 1px solid #07020d;
  padding: 0px 10px;
  
  
}

.navigation__link--end{
  border: 0px;
}


.navigation__link--homepage {
    color: red;
}

.articles {
  border: 5px solid black;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(242, 239, 247);
}

.articles__style {
  padding: 10px;
  margin: 10px;
  border: 2px solid #e65a5a;
}

.articles__style--top {
  padding: 20px;
  margin-bottom: 5px;
  border: 5px solid black;
  border-radius: 20px;
  background-color: rgb(242, 239, 247);
}

.heading__style {
  color: #07020d;
}

img {
  height: 150px;
  width: 130px;
  display: block;
}

body {
  width: 1000px;
  margin: auto;
  background: #757F9A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  text-decoration: none;
}

.articles__form-item{
  display: block;
  margin: 10px 0;
}